$page.setTitle("首页")
<div class="xn-breadcrumb xn-width auto clearfix ">
    <ul class="breadcrumb">
        <li><a class="icon icon-home_page" href="$platformLink.setTarget("index")">首页</a></li>
        <li><a   href="$platformLink.setTarget("setting/index")">设置</a></li>
        <li class="active">问题标签</li>
    </ul>
</div>

<div class="xn-main  auto  xn-width  xn-sys-default clearfix" ng-controller="QuestionTagIndexController">
    #*<div class="xn-search Controller clearfix">
        <form class="col-md-6 col-md-offset-3 clearfix"   name="searchForm" xn-form-validate  novalidate>
            <div class="input-group">
                <input type="text" class="form-control  " name="usertag"   ng-model="usertag.parentName"  placeholder="请输入要查询的内容"    autofocus>
                <span class="input-group-addon"   xn-submit-enter="treeSearch()"></span>
            </div>
        </form>
    </div>*#


    <div class="xn-width mb_10 pr_10 clearfix">
        <button class="btn btn-primary btn-sm f-right" ng-click="addTree()" >新建问题</button>
    ##            <a class="btn btn-link btn-sm f-right mr_10"  href="$hrLink.setTarget("organization/setowner")" >导入组织部门负责人</a>
    </div>

    <div class="xn-table-wrap" >
        <table  class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="col-md-1">序号</th>
                <th class="col-md-2">标签名称</th>
                <th class="col-md-2">标签颜色</th>
                <th class="col-md-4">备注</th>
                <th class="col-md-3">操作</th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr class="tree-header-{{tree.level}} td_{{tree.level}}" ng-repeat="tree in trees"
                ng-mouseenter="showDetail=true" ng-init="showDetail=false" ng-mouseleave="showDetail=false">

                <td ng-bind="$index+1" class="xn-text-left">

                </td>
                <td class="xn-text-left">
                    {{tree.tag}}
                </td>
                <td class="xn-text-center">
                    <span style="background-color: {{tree.tagRgb}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </td>
                <td class="xn-text-left">
                    {{tree.remark}}
                </td>
                <td class="xn-text-left">
                    <div type="text" ><a ng-click="edit(tree)">编辑</a> <a ng-click="delete(tree)">删除</a></div>
                </td>
            </tr>
            #* <tr class="tree-header-{{tree.level}} td_{{tree.level}}" ng-repeat="tree in trees" ng-if="tree.visable"
                 ng-mouseenter="showDetail=true" ng-init="showDetail=false" ng-mouseleave="showDetail=false">
                 <td class="first_td">
                     <i ng-if="tree.level==0" class="{{tree.color}}"></i>
                     <i ng-if="tree.level!=0" class="vertical-line-{{tree.level}}"></i>
                     <div class="pt_15 f-left tree-{{tree.level}}">

                         <a ng-if="tree.childState && tree.collapsed" class="btn-sm icon-a xn-tree-i"  ng-click="toggle($index)" >
                             <i  class="icon icon-add"></i>
                         </a>
                         <a ng-if="!(tree.childState && tree.collapsed)" class="btn-sm icon-a xn-tree-i"  ng-click="toggle($index)" >
                             <i  class="icon icon-dash"></i>
                         </a>
                         {{tree.name}}
                     </div>
                     <span class="f-right xn-text-left mt_7 pr_10" ng-show="showDetail">
                          <button  class="btn icon-a btn-link " ng-click="addTree(tree)"><i class="icon edit-icon icon-add icon-edit-add"></i></button>
                          <button  class="btn icon-a btn-link " ng-click="edit(tree)"><i class="icon edit-icon icon-edit"></i></button>
                          <button  class="btn icon-a btn-link"  ng-click="delete(tree)"><i class="icon edit-icon icon-delete"></i></button>
                     </span>
                 </td>

                <td class="xn-text-left">
                     {{usertag.}}
                 </td>
                 <td class="xn-text-left">
                     {{tree.owner.lastName}}{{tree.owner.firstName}}
                 </td>
                 <td class="xn-text-left">
                     {{tree.description}}
                 </td>
             </tr>*#
            <tr ng-if="trees.length == 0">
                <td colspan="7" class="xn-center">无法找到相应的记录</td></tr>
            </tbody>
        </table>
        <div class="clearfix">
            <div class="f-left mt_20 mb_10">共{{questiontags.totalCount}}条</div>
            <pagination ng-show="questiontags.totalCount>usertags.pageSize" ng-change="getList()" max-size="maxPageSize"
                        total-items="questiontags.totalCount"
                        ng-model="questiontags.pageNumber" items-per-page="questiontags.pageSize" class="pagination-sm"
                        boundary-links="true"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></pagination>
    </div>
</div>
</div>

<script type="text/ng-template" id="treeEidt.html">
    <form  class="form-horizontal xn-form clearfix" role="form"  xn-form-validate novalidate  name="validateForm" >
        <div class="modal-header" ng-mousedown="mousedown($event)" ng-mousemove="mousemove($event)" ng-mouseup="mouseup()">
            <h3 class="modal-title"> {{questiontag.title}}</h3>
            <div class="xn-close xn-cursor" ng-click="clean()">
                <i class="icon icon-delete"></i>
            </div>
        </div>
        <div class="modal-body clearfix">
            <div class="form-group col-sm-10 col-md-offset-1 clearfix">
                <label class="col-sm-5 control-label"><span class="f-right">标签名称：</span><i class="xn-required-i xn-location-required f-right"></i></label>
                <div class="col-sm-7">
                    <input class="form-control" type="text"  name="organizationname" ng-model="questiontag.tag">
                </div>
            </div>

            <div class="form-group col-sm-10 col-md-offset-1 clearfix">
                <label class="col-sm-5 control-label"><span class="f-right">标签颜色：</span><i class="xn-required-i xn-location-required f-right"></i></label>
                <div class="col-sm-7">
                    <input class="form-control pick-a-color" type="text"  name="tagrgb" id="nowColor" onfocus="colorSelect('nowColor',event)" ng-model="questiontag.tagRgb">
                </div>
            </div>
            <div class="form-group col-sm-10 col-md-offset-1 clearfix">
                <label class="col-sm-5 control-label">备注：</label>
                <div class="col-sm-7">
                    <textarea class="form-control" rows="5"  ng-model="questiontag.remark"  name="description" ></textarea>
                </div>
            </div>
            <div class="form-group" ng-show="validateForm.$errors.length > 0 ">
                <div class="col-sm-10">
                    <div class="alert alert-danger col-sm-offset-4"><i class="glyphicon glyphicon-remove-sign mr_5" ng-click="closeAlert(0,validateForm.$errors)"></i>{{validateForm.$errors[0]}}</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button  class="btn btn-primary "  xn-form-submit="doSave()">保存</button>
            <a ng-click="clean()"  class="btn btn-default ">取消</a>
        </div>
    </form>
</script>
<script>
    jQuery(".pick-a-color").pickAColor({
        showSpectrum: true,
        showSavedColors: true,
        saveColorsPerElement: true,
        fadeMenuToggle: true,
        showAdvanced: true,
        showBasicColors: true,
        showHexInput: true,
        allowBlank: true,
        inlineDropdown: true
    });
    function colorSelect(now,e){
        if(document.getElementById("colorBoard")){
            return;
        }
        //关于出现位置
        e=e||event;
        var scrollpos = getScrollPos();
        var l = scrollpos.l + e.clientX;
        var t = scrollpos.t + e.clientY + 10;
        if (l > getBody().clientWidth-253){
            l = getBody().clientWidth-253;
        }
        //创建DOM
        var nowColor = document.getElementById(now);
        var ColorHex=new Array('00','33','66','99','CC','FF');
        var SpColorHex=new Array('FF0000','00FF00','0000FF','FFFF00','00FFFF','FF00FF');
        var colorBank = document.createElement("div");
        colorBank.setAttribute("id","colorBank");
        var colorViews = document.createElement("div");
        colorViews.setAttribute("id","colorViews");
        var colorInput = document.createElement("input");
        colorInput.setAttribute("id","colorInput");
        colorInput.setAttribute("type","text");
        colorInput.setAttribute("disabled","disabled");
        var colorClose = document.createElement("input");
        colorClose.setAttribute("id","colorClose");
        colorClose.setAttribute("value","取消");
        colorClose.setAttribute("type","button");
        colorClose.onclick=function(){document.body.removeChild(colorBoard)};
        var colorBoard =document.createElement("div");
        colorBoard.id="colorBoard";
        colorBoard.style.left = l+"px";
        colorBoard.style.top = t+ "px";
        colorBoard.appendChild(colorViews);
        colorBoard.appendChild(colorInput);
        colorBoard.appendChild(colorClose);
        colorBoard.appendChild(colorBank);
        document.body.appendChild(colorBoard);
        //循环出调色板
        for(b=0;b<6;b++){
            for(a=0;a<3;a++){
                for(i=0;i<6;i++){
                    colorItem = document.createElement("div");
                    colorItem.style.backgroundColor="#"+ColorHex[a]+ColorHex[i]+ColorHex[b];
                    colorBank.appendChild(colorItem);
                }
            }
        }
        for(b=0;b<6;b++){
            for(a=3;a<6;a++){
                for(i=0;i<6;i++){
                    colorItem = document.createElement("div");
                    colorItem.style.backgroundColor="#"+ColorHex[a]+ColorHex[i]+ColorHex[b];
                    colorBank.appendChild(colorItem);
                }
            }
        }
        for(i=0;i<6;i++){
            colorItem = document.createElement("div");
            colorItem.style.backgroundColor="#"+ColorHex[0]+ColorHex[0]+ColorHex[0];
            colorBank.appendChild(colorItem);
        }
        for(i=0;i<6;i++){
            colorItem = document.createElement("div");
            colorItem.style.backgroundColor="#"+ColorHex[i]+ColorHex[i]+ColorHex[i];
            colorBank.appendChild(colorItem);
        }
        for(i=0;i<6;i++){
            colorItem = document.createElement("div");
            colorItem.style.backgroundColor="#"+SpColorHex[i];
            colorBank.appendChild(colorItem);
        }
        var colorItems = colorBank.getElementsByTagName("div");
        for(i=0; i<colorItems.length;i++){
            colorItems[i].onmouseover = function(){
                a = this.style.backgroundColor;
                if(a.length>7){
                    a = formatRgb(a);//
                }
                colorViews.style.background = a.toUpperCase();
                colorInput.value = a.toUpperCase();
            }
            colorItems[i].onclick = function(){
                a = this.style.backgroundColor;
                if(a.length>7){
                    a = formatRgb(a);//
                }
                nowColor.value = a.toUpperCase();
                /*  pageColorViews.style.background = a.toUpperCase();*/
                document.body.removeChild(colorBoard);
            }
        }

    }
    //格式化函数
    function formatRgb(rgb){
        rgb = rgb.replace("rgb","");rgb = rgb.replace("(","");rgb = rgb.replace(")","");
        format = rgb.split(",");
        a = eval(format[0]).toString(16);
        b = eval(format[1]).toString(16);
        c = eval(format[2]).toString(16);
        rgb = "#"+checkFF(a)+checkFF(b)+checkFF(c);
        function checkFF(str){
            if(str.length == 1){
                str = str+""+str;
                return str;
            }else{
                return str;
            }
        }
        return rgb;
    }
    //getBody()
    function getBody(){
        var Body;
        if (typeof document.compatMode != 'undefined' && document.compatMode != 'BackCompat') {
            Body = document.documentElement;
        }
        else if (typeof document.body != 'undefined') {
            Body = document.body;
        }
        return Body;
    }
    //scrollPos
    function getScrollPos(){
        var t,l;
        if (typeof window.pageYOffset != 'undefined'){
            t = window.pageYOffset;
            l = window.pageXOffset;
        }
        else{
            t = getBody().scrollTop;
            l = getBody().scrollLeft;
        }
        return {t:t,l:l};
    }
</script>

