$page.setTitle("首页")
<div class="xn-breadcrumb xn-width auto clearfix ">
    <ul class="breadcrumb">
        <ul class="breadcrumb">
            <li><a class="icon icon-home_page" href="$platformLink.setTarget("index")">首页</a></li>
            <li><a href="$showcalLink.setTarget("repository/index")">我的知识库</a></li>
            <li class="active">知识库导入</a></li>
        </ul>
    </ul>
</div>
<div class="xn-main  auto xn-width  clearfix" ng-controller="MyRepositoryImportController">
    <div class="xn-import">
        <div class="form-horizontal mb_40 clearfix ">
            <div class="xn-input-line clearfix">
                <label for="inputFile" class="xn-label">选择导入文件：</label>
                <div class="input-group xn-input-lg">
                    <input type="text" class="form-control  " id="upImportFile"  placeholder="导入文件" name="textFile"  >
                    <input type="file" class="none" id="upImportFileId" name="upImportFileId"  ng-click="upFileClick()"    contentEditable="false" accept="textml" />
                    <span class="input-group-addon xn-cursor"  onclick="upImportFileId.click()">上传</span>
                </div>
                <a class="xn-line ml_20" href="javascript:;" ng-click="downloadTemplate()"><i></i>下载模板</a>
            </div>
        </div>
        <div class="form-group  clearfix">
            <button type="button" class="btn btn-primary  w_150 col-sm-offset-3"  ng-click="upFileSave()">保存</button>
            <a  class="btn btn-default w_150 ml_50"  href="food.vm">取消</a>
        </div>
        <div class="form-group clearfix">
            <div  class="hint col-md-9 ml_15">注意！导入前请仔细检查导入数据的准确性！</div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="errors.html">
    <form class="form-horizontal xn-form clearfix" role="form" novalidate name="validateForm">
        <div class="modal-header">
            <h3 class="modal-title">错误详情</h3>
        </div>
        <div class="modal-body clearfix">
            <ul ng-repeat="error in errors">
                <li >{{error.message}}</li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">关闭</button>
            <button class="btn btn-warning" ng-click="download()">下载检测结果</button>
        </div>
    </form>
</script>