<div class="showcal">
    <!--header-->
    <header data-am-widget="header" class="am-header am-no-layout am-header-fixed showcal--mobile-header
    showcal--mobile-header-borderbottom">
        <div class="am-header-left am-header-nav">
            <a onclick="doBack()" class="">
                <img class="showcal-left-arrow" src="$mobileContent.getURI("images/leftarrrow.png")"
                     width="10" height="24" alt="">
            </a>
        </div>
        <h1 class="am-header-title">系统消息</h1>
    </header>
   <!--消息详情-->
    <div class="whitebg">
        <div class="mt-10 am-u-sm-12 p-l-r-20">
            <div class="f-left">
                <img class="message-list-img" src="$mobileContent.getURI('images/ceshi.png')" width="30" height="30">
            </div>
            <div class="f-left ml-10  light-gray-txt">$!base.formatDate($message.sendTime,"yyyy-MM-dd HH:mm:ss")</div>
        </div>
        <div class="clearfix"></div>
        <p class="am-u-sm-12  font-14 mt-10 mb-0 p-l-r-20">
         $message.messageContent
        </p>
        <div class="clearfix"></div>
    </div>
</div>



<script>

   $(function(){
     $(document.body).addClass("whitebg");
   });
   var url = location.search; //获取url中"?"符后的字串
   var theRequest = new Object();
   if (url.indexOf("?") != -1) {
       var str = url.substr(1);
       strs = str.split("&");
       for (var i = 0; i < strs.length; i++) {
           theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
       }
   }
   function doBack() {
       window.location.href="listmessage?type="+theRequest.type+"&passportid=$!passport.id";
   }
</script>