
<style type="text/css" media="all" rel="stylesheet">
    <!--
    form {
        margin:0;
        font:normal 12px Verdana, Arial;
    }
    table,input {
        font:normal 12px Verdana, Arial;
    }
    a:link,a:visited{
        text-decoration:none;
        color:#333333;
    }
    .chat-img{
        width: 25px;
        height: 25px ;
        border-radius: 50%;
        border: 1px solid #dcdcdc;
    }
    .chat-img-1{
        width: 25px;
        height: 25px ;
        border-radius: 50%;
        border: 1px solid #dcdcdc;
        float:right;
        margin-right:10px
    }
    a:hover{
        text-decoration:none;
        color:#67c3c2
    }
    #main {
        width: 600px;
        position: relative;
        left: 300px;
        top: -172px;
        background: #fff;
        text-align: left;
        filter:Alpha(opacity=90)
    }
    #ChatHead {
        text-align: right;
        padding: 3px;
        min-height: 35px;
        border: 1px solid #67c3c2;
        background: #67c3c2;
        font-size: 11px;
        color: #000;
        cursor: move;
    }
    #ChatHead a:link,#ChatHead a:visited, {
        font-size:14px;
        font-weight:bold;
        padding:0 3px
    }
    #ChatBody {
        border:1px solid #67c3c2;
        border-top:none;
    }
    #ChatContent {
        height: 300px;
        padding: 6px;
        overflow-y: auto;
        word-break: break-all;
    }
    #ChatBtn {
        border-top:1px solid #67c3c2;
        padding:2px
    }
    .arrow-left{
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-right: 24px solid #67c3c2;
        border-bottom: 18px solid transparent;
        position: absolute;
        /* top: 0px; */
        left: -13px;
    }
    .left-message{
        width: 300px;
        padding: 10px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        position: relative;
        background-color: #67c3c2;
        margin-left: 50px;
    }
    .right-message{
        width: 300px;
        padding: 10px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        position: relative;
        float: right;
        background-color: #67c3c2;
        margin-right: 50px;
    }
    .arrow-right{
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-left: 12px solid #67c3c2;
        border-bottom: 8px solid transparent;
        position: absolute;
        float: right;
        left: 298px;
    }
    -->
</style>

<div class="worktitle-right" ng-controller="IndexController" id="showcalindex">
    <!--搜索条件-->
    <div class="mt_20 xn-col-md-24">
        <div class="xn-col-md-5 ">
            <label class="f-left l-h-34 ">用户昵称：</label>
            <select name="paymentTermId" id="paymentTermId" class="form-control xn-input-sm">
                <option value="">-- 全部 --</option>
            </select>
        </div>
        <div class="xn-col-md-5">
            <label class="f-left l-h-34">用户标签：</label>
            <select name="paymentTermId" id="paymentTermId" class="form-control xn-input-sm">
                <option value="">-- 全部 --</option>
            </select>
        </div>
        <div class="xn-col-md-5">
            <label class="f-left l-h-34">关键字：</label>
            <select name="paymentTermId" id="paymentTermId" class="form-control xn-input-sm">
                <option value="">-- 全部 --</option>
            </select>
        </div>
        <div class="xn-col-md-5">
            <label class="f-left l-h-34">时间：</label>
            <select name="paymentTermId" id="paymentTermId" class="form-control xn-input-sm">
                <option value="">-- 全部 --</option>
            </select>
        </div>
        <div class="xn-col-md-4">
            <button class="btn btn-success">查询</button>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--用户列表以及聊天框-->
    <div class="xn-col-md-24 mt_20">
        <div class="xn-col-md-4" style="position: relative">
            <div  class="person-box">
                <a  class="person-detail-description" onclick="showDialog()">
                    <span class="ml_10 ">用户A</span>
                    <span class="ml_10 ">2015-09-09 18:09</span>
                </a>
                <a  class="person-detail-description" onclick="showDialog()">
                    <span class="ml_10 ">用户B</span>
                    <span class="ml_10 ">2015-09-09 18:09</span>
                </a>
                <a  class="person-detail-description" onclick="showDialog()">
                    <span class="ml_10 ">用户C</span>
                    <span class="ml_10 ">2015-09-09 18:09</span>
                </a>
                <a  class="person-detail-description" onclick="showDialog()">
                    <span class="ml_10 ">用户D</span>
                    <span class="ml_10 ">2015-09-09 18:09</span>
                </a>
                <a  class="person-detail-description" onclick="showDialog()">
                    <span class="ml_10 ">用户E</span>
                    <span class="ml_10 ">2015-09-09 18:09</span>
                </a>
            </div>
            <div class="dragclass" id="main">
                <div id="ChatHead">
                   #* <a onclick="ChatClose();">
                        <i class="icon icon-close"></i>
                    </a>*#
                </div>
                <div id="ChatBody">
                    <div id="ChatContent"></div>
                    <div id="ChatBtn">
                        <form action="" method="post" name="chat">
                            <textarea class="person-textarea" rows="5" name="ChatValue"></textarea>
                            <input  onclick="ChatSend(this.form);" type="button" name="Submit" value="发送"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<script language="javascript" type="text/javascript">
    <!--
    function $(d){return document.getElementById(d);}
    function gs(d){var t=$(d);if (t){return t.style;}else{return null;}}
    function gs2(d,a){
        if (d.currentStyle){
            var curVal=d.currentStyle[a]
        }else{
            var curVal=document.defaultView.getComputedStyle(d, null)[a]
        }
        return curVal;
    }
/*    function showDialog(){
        gs("main").display = "block";
    }
    function ChatClose(){gs("main").display = "none";}*/
    function document.onkeydown()
    { if ((event.keyCode == 13) && (event.srcElement == document.getElementById("txtUserPassword")))
    { var btn = document.getElementById("btnLogin");
        btn.focus();
        btn.click();
    }
    }
    function ChatSend(obj){
        var o = obj.ChatValue;
        if (o.value.length>0){

                /*   $("ChatContent").innerHTML +=
                "<img class='chat-img' src='$showcalContent.getURI('images/ceshi.png')'>"
                    +"<span class='ml_10'>用户A 2015-08-09 15:36</span><br/>"
                    +"<p class='ml_20'>"+o.value+"</p><br/>"
                    +"<img class='chat-img-1' src='$showcalContent.getURI('images/ceshi.png')'>"
                    +"<span class='f-right mr_10'>2015-08-09 15:30"
                    +"<span class='f-right mr_10'>用户A</span>"
                    +"</span><br/>"
                    +"<p class='f-right mr_10'>"+o.value+"</p><br/>";
                   o.value='';*/
                   $("ChatContent").innerHTML +=
                    "<img class='chat-img' src='$showcalContent.getURI('images/ceshi.png')'>"
                    +"<span class='ml_10'>用户A 2015-08-09 15:36</span>"
                    +"<div class='left-message'>"
                    +"<div class='arrow-left'></div>"
                    +o.value+"</div><br/>"
                    +"<div class='clearfix'></div>"
                    +"<img class='chat-img-1' src='$showcalContent.getURI('images/ceshi.png')'>"
                    +"<span class='f-right mr_10'>2015-08-09 15:30"
                    +"<span class='f-right mr_10'>用户A</span>"
                    +"</span>"
                    +"</div>"
                    +"<div class='clearfix'></div>"
                    +"<div class='right-message'>"
                    +"<div class='arrow-right'></div>"
                    +o.value+"</div><br/>"
                    +"<div class='clearfix'></div>"
                    o.value='';
        }else{
            alert("请输入需要发送的内容");
        }
    }
/*    if  (document.getElementById){
        (
                function(){
                    if (window.opera){ document.write("<input type='hidden' id='Q' value=' '>"); }
                    var n = 500;
                    var dragok = false;
                    var y,x,d,dy,dx;
                    function move(e)
                    {
                        if (!e) e = window.event;
                        if (dragok){
                            d.style.left = dx + e.clientX - x + "px";
                            d.style.top  = dy + e.clientY - y + "px";
                            return false;
                        }
                    }
                    function down(e){
                        if (!e) e = window.event;
                        var temp = (typeof e.target != "undefined")?e.target:e.srcElement;
                        if (temp.tagName != "HTML"|"BODY" && temp.className != "dragclass"){
                            temp = (typeof temp.parentNode != "undefined")?temp.parentNode:temp.parentElement;
                        }
                        if('TR'==temp.tagName){
                            temp = (typeof temp.parentNode != "undefined")?temp.parentNode:temp.parentElement;
                            temp = (typeof temp.parentNode != "undefined")?temp.parentNode:temp.parentElement;
                            temp = (typeof temp.parentNode != "undefined")?temp.parentNode:temp.parentElement;
                        }
                        if (temp.className == "dragclass"){
                            if (window.opera){ document.getElementById("Q").focus(); }
                            dragok = true;
                            temp.style.zIndex = n++;
                            d = temp;
                            dx = parseInt(gs2(temp,"left"))|0;
                            dy = parseInt(gs2(temp,"top"))|0;
                            x = e.clientX;
                            y = e.clientY;
                            document.onmousemove = move;
                            return false;
                        }
                    }
                    function up(){
                        dragok = false;
                        document.onmousemove = null;
                    }
                    document.onmousedown = down;
                    document.onmouseup = up;
                })();
    }*/
    -->
</script>