$page.setTitle("首页")
<div class="xn-breadcrumb xn-width auto clearfix ">
    <ul class="breadcrumb">
        <li><a class="icon icon-home_page" href="$platformLink.setTarget("index")">首页</a></li>
        <li class="active">日常管理</a></li>
    </ul>
</div>
<div class="xn-main xn-setting-list  auto  xn-width  clearfix">
    <ul class="clearfix">
        <li class="list-2">
            <a class="clearfix" href="$platformLink.setTarget("daily/usermanager")">
                <div class="xn-setting-img xn-setting-img-job"></div>
                <div class="xn-setting-right">
                    <h3>用户管理</h3>

                    <p>  </p>
                </div>
            </a>
        </li>
        <li class="list-2">
            <a class="clearfix" href="$platformLink.setTarget("daily/accountmanager")">
                <div class="xn-setting-img xn-setting-img-level"></div>
                <div class="xn-setting-right">
                    <h3>账户管理</h3>

                    <p> </p>
                </div>
            </a>
        </li>
        <li class="list-2">
            <a class="clearfix" href="$platformLink.setTarget("daily/cmsmanager")">
                <div class="xn-setting-img xn-setting-img-level"></div>
                <div class="xn-setting-right">
                    <h3>发帖管理</h3>

                    <p> </p>
                </div>
            </a>
        </li>
        <li class="list-2">
            <a class="clearfix" href="$platformLink.setTarget("daily/complatint")">
                <div class="xn-setting-img xn-setting-img-level"></div>
                <div class="xn-setting-right">
                    <h3>投诉管理</h3>

                    <p> </p>
                </div>
            </a>
        </li>
    </ul>
</div>
