<div class="showcal discover">
    <!--header-->
    <header data-am-widget="header" class="am-header am-no-layout am-header-fixed showcal--mobile-header">
        <div class="am-header-left am-header-nav">
        ##          <a href="create" class="">
##              <img class="showcal-left-arrow" src="$mobileContent.getURI("images/grayleftarrow.png")"
##                   width="10" height="24" alt="">
##          </a>
        </div>
        <h1 class="am-header-title">修改密码</h1>

        <div class="am-header-left am-header-nav">
            <a href="myAccount?passportid=$!passport.id" class="pic">
                <i class="am-icon-angle-left am-text-xxl"></i>
            </a>
        </div>
    </header>
    <form id="changePasswd">
        <div class="mt-20 xn-text-center">
            <input type="password" class="login-input" id="newpassword" name="newpassword" placeholder="新密码...">
        </div>
        <div class="mt-20 xn-text-center">
            <input type="password" class="login-input" id="confirmpasswd" name="confirmpasswd" placeholder="确认新密码...">
        </div>
        <div class="mt-20 xn-text-center" id="messageBox" style="color: #ff0000"></div>
        <div class="mt-20 xn-text-center">
            <button class="btn login-button-default login-button-gray login-button-pink" id="confirmbutton">确认修改
            </button>
        </div>
    </form>
</div>
<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">瘦咖提醒您</div>
        <div class="am-modal-bd" id="errormsg">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>

<script src="$mobileContent.getURI('vendor/md5/md5.js')"></script>
<script type="text/javascript" src="$mobileContent.getURI('vendor/validate/jquery.validate.js')"></script>
<script>
    $(function () {
        $.validator.setDefaults({
            errorElement: 'label'
        });

        $("#changePasswd").validate({
            rules: {
                newpassword: {
                    required: true
                },
                confirmpasswd: {
                    required: true,
                    equalTo: '#newpassword'
                }},
            messages: {
                newpassword: {
                    required: "请填写新密码"
                },
                confirmpasswd: {
                    required: " 请填写确认密码",
                    equalTo: '两次填写的密码不一致'
                }
            },
            debug: true,
            errorLabelContainer: "#messageBox"
        });
        $("#confirmbutton").click(function () {
            if ($("#changePasswd").valid()) {
                // 修改密码
                var password = hex_md5($("#newpassword").val());
                $.ajax({
                    url: "$mobileContent.getURI("api.do?method=api.mobile.password.change&passportid=$!passport.id")",
                    data: '{"password":"' + password + '","userId":"$!passport.userId"}',
                    contentType: "application/json",
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        if (data.errors.length > 0) {
                            $("#errormsg").val(data.errors[0].message)
                            $('#my-alert').modal({
                                relatedTarget: this
                            })
                        } else {
                            $("#errormsg").val("密码修改成功");
                            $('#my-alert').modal({
                                relatedTarget: this
                            })
                            window.location.href = "myAccount?passportid=$!passport.id";
                        }
                    }
                });
            }
        });
    });
</script>