<!doctype html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>瘦咖</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
##    <!-- No Baidu Siteapp-->
##    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#0e90d2">
   <link rel="stylesheet" href="$mobileContent.getURI('vendor/amazeui/admin.css')">
##    <link rel="stylesheet" href="$mobileContent.getURI('vendor/amazeui/amazeui.min.css')">
    <link rel="stylesheet" href="$mobileContent.getURI('vendor/amazeui/amazeui.flat.min.css')">
    <link rel="stylesheet" href="$mobileContent.getURI('vendor/base/base.css')">
    <link href="$mobileContent.getURI('styles/page.css')"  rel="stylesheet">
    <link href="$mobileContent.getURI('vendor/amazeui/amazeui.swiper.css')" rel="stylesheet">
    <link href="$mobileContent.getURI('styles/he.css')"  rel="stylesheet">
    <link href="$mobileContent.getURI('vendor/amazeui/scrollbar.css')"  rel="stylesheet">
    <script src="$mobileContent.getURI('vendor/jquery/jquery.min.js')"></script>
    <script src="$mobileContent.getURI('vendor/amazeui/amazeui.js')"></script>

</head>
<body>
    $screen_placeholder

</body>

    <script src="$mobileContent.getURI('vendor/amazeui/handlebars.min.js')"></script>
    <script src="$mobileContent.getURI('vendor/amazeui/amazeui.widgets.helper.min.js')"></script>
    <script src="$mobileContent.getURI('vendor/amazeui/amazeui.ie8polyfill.min.js')"></script>
    <script src="$mobileContent.getURI('vendor/amazeui/amazeui.swiper.min.js')"></script>
    <script src="$mobileContent.getURI('vendor/amazeui/iscroll.js')"></script>

</html>