<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.showcal.platform.dal.SettingKeywordMapper">
    <select id="existByCode" resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            `PL_SETTING_KEYWORD`
        WHERE
            `IS_DELETED`=0
            AND  `ID` != #{id}
            AND `CODE` = #{code}
    </select>


    <update id="update">
        UPDATE
            `PL_SETTING_KEYWORD`
        SET
        `KEYWORD`=#{ request.keyword },
        `PARENT_KEYWORD`=#{ request.parentKeyword },
        `PARENT_ID`=#{ request.parentId },
        `REMARK`=#{ request.remark },
        `IS_ACTIVE`=#{ request.isActive },
        `ACTIVE_DATE`=#{ request.activeDate },
        `LAST_UPDATED_BY`=#{ passport.userId }
        ,`LAST_UPDATE_TIME`=SYSDATE()
        ,`ROW_VERSION`=#{ request.rowVersion }+1
        WHERE
            `IS_DELETED`=0
            AND `ID` = #{ request.id }
            AND `ROW_VERSION` = #{ request.rowVersion }
    </update>


    <update id="inactive">
        UPDATE
            `PL_SETTING_KEYWORD`
        SET
            `IS_ACTIVE` = 0
            ,`LAST_UPDATED_BY`=#{ passport.userId }
            ,`LAST_UPDATE_TIME`=SYSDATE()
        WHERE
            `IS_DELETED`=0
            AND `IS_ACTIVE`=1
            AND `ID` = #{id}
    </update>

    <update id="active">
        UPDATE
            PL_SETTING_KEYWORD
        SET
            `IS_ACTIVE` = 1
            ,`LAST_UPDATED_BY`=#{ passport.userId }
            ,`LAST_UPDATE_TIME`=SYSDATE()
        WHERE
            `IS_DELETED`=0
            AND `IS_ACTIVE`=0
            AND `ID` = #{id}
    </update>
    <select id="existByKeyword" resultType="java.lang.Long">
        select count(1) from PL_SETTING_KEYWORD where `IS_DELETED`=0 AND KEYWORD = #{keyword}
        <if test="id !=null">
            AND id != #{id}
        </if>
    </select>

    <select id="findByName" resultMap="settingKeywordPO">
        SELECT * FROM
        (
        SELECT
        <include refid="entityColumnList"/>
        FROM
        `PL_SETTING_KEYWORD`
        WHERE
        `IS_DELETED`=0
        AND KEYWORD = #{ request.keyword }
        ) AS T

        <if test="request.pageSize !=0">
            LIMIT #{ request.beginItemIndex }, #{ request.pageSize }
        </if>
    </select>

</mapper>