<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.showcal.platform.dal.SyncSqlMapper">

    <sql id="whereForFindList">
        AND VERSION>#{request.currentVersion}
    </sql>

    <sql id="whereForSearchList">
           (
           )
    </sql>

    <select id="syncIncrement" resultMap="syncSqlPO">
        SELECT * FROM
        (
            SELECT
                <include refid="entityColumnList"/>
            FROM
                `PL_SYNC_SQL`
            WHERE
                `IS_DELETED`=0
                <include refid="whereForFindList" />
            ORDER BY VERSION
        ) AS T

        <if test="request.pageSize !=0">
            LIMIT #{ request.beginItemIndex }, #{ request.pageSize }
        </if>
    </select>

    <select id="syncIncrementCount"   resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            `PL_SYNC_SQL`
        WHERE
            `IS_DELETED`=0
            <include refid="whereForFindList" />
    </select>

    <select id="search" resultMap="syncSqlPO">
        SELECT * FROM
        (
            SELECT
                <include refid="entityColumnList"/>
            FROM
                `PL_SYNC_SQL`
            WHERE
                `IS_DELETED`=0
                <if test="request.keyword !=null">
                      AND <include refid="whereForSearchList" />
                </if>

        ) AS T
        <if test="request.pageSize !=0">
            LIMIT #{ request.beginItemIndex }, #{ request.pageSize }
        </if>
    </select>

    <select id="searchCount"   resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            `PL_SYNC_SQL`
        WHERE
            `IS_DELETED`=0
            AND <include refid="whereForSearchList" />
    </select>

    <select id="getMaxVersion" resultType="java.lang.Long">
        SELECT IFNULL(MAX(VERSION),0) FROM PL_SYNC_SQL
    </select>


    <update id="update">
        UPDATE
            `PL_SYNC_SQL`
        SET
        `VERSION`=#{ request.version },
        `DBSQL_MYSQL`=#{ request.dbsqlMysql },
        `DBSQL_SQLLITE`=#{ request.dbsqlSqllite },
        `TABLE`=#{ request.table },
        `LAST_UPDATED_BY`=#{ passport.userId }
        ,`LAST_UPDATE_TIME`=SYSDATE()
        ,`ROW_VERSION`=#{ request.rowVersion }+1
        WHERE
            `IS_DELETED`=0
            AND `ID` = #{ request.id }
            AND `ROW_VERSION` = #{ request.rowVersion }
    </update>


</mapper>