<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.showcal.platform.dal.SysMessageMapper">

    <sql id="whereForFindList">
        <if test="request.userId!=null">
            AND `RECEIPT_ID`=#{request.userId}
        </if>
        <if test="request.isRead!=null">
            AND `IS_READED`=#{request.isRead}
        </if>

        <if test="request.type!=null and request.type.size>0">
            AND `BUSINESS_TYPE` in
            <foreach item="submit" index="index" collection="request.type"
                     open="(" separator="," close=")">
                #{submit}
            </foreach>
        </if>
        order by `ID` DESC
    </sql>

    <sql id="whereForSearchList">
           (
           )
    </sql>

    <select id="find" resultMap="sysMessagePO">
        SELECT * FROM
        (
            SELECT
                <include refid="entityColumnList"/>
            FROM
                `PL_SYS_MESSAGE`
            WHERE
                `IS_DELETED`=0
                <include refid="whereForFindList" />
        ) AS T

        <if test="request.pageSize !=0">
            LIMIT #{ request.beginItemIndex }, #{ request.pageSize }
        </if>
    </select>

    <select id="findCount"   resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            `PL_SYS_MESSAGE`
        WHERE
            `IS_DELETED`=0
            <include refid="whereForFindList" />
    </select>

    <select id="search" resultMap="sysMessagePO">
        SELECT * FROM
        (
            SELECT
                <include refid="entityColumnList"/>
            FROM
                `PL_SYS_MESSAGE`
            WHERE
                `IS_DELETED`=0
                <if test="request.keyword !=null">
                      AND <include refid="whereForSearchList" />
                </if>

        ) AS T
        <if test="request.pageSize !=0">
            LIMIT #{ request.beginItemIndex }, #{ request.pageSize }
        </if>
    </select>

    <select id="searchCount"   resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            `PL_SYS_MESSAGE`
        WHERE
            `IS_DELETED`=0
            AND <include refid="whereForSearchList" />
    </select>

    <select id="existByCode" resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            `PL_SYS_MESSAGE`
        WHERE
            `IS_DELETED`=0
            AND  `ID` != #{id}
            AND `CODE` = #{code}
    </select>


    <update id="update">
        UPDATE
            `PL_SYS_MESSAGE`
        SET
        `BUSINESS_TYPE`=#{ request.businessType },
        `BUSINESS_ID`=#{ request.businessId },
        `BUSINESS_CATEGORY`=#{ request.businessCategory },
        `RECEIPT_ID`=#{ request.receiptId },
        `MESSAGE_TITLE`=#{ request.messageTitle },
        `MESSAGE_URL`=#{ request.messageUrl },
        `MESSAGE_CONTENT`=#{ request.messageContent },
        `SENDER_ID`=#{ request.senderId },
        `MESSAGE_TIME`=#{ request.messageTime },
        `SEND_TIME`=#{ request.sendTime },
        `IS_READED`=#{ request.isReaded },
        `READ_TIME`=#{ request.readTime },
        `LAST_UPDATED_BY`=#{ passport.userId }
        ,`LAST_UPDATE_TIME`=SYSDATE()
        ,`ROW_VERSION`=#{ request.rowVersion }+1
        WHERE
            `IS_DELETED`=0
            AND `ID` = #{ request.id }
            AND `ROW_VERSION` = #{ request.rowVersion }
    </update>


</mapper>