<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.showcal.platform.dal.SysUserTagsMapper">

    <sql id="whereForFindList">
    </sql>

    <sql id="whereForSearchList">
           (
           )
    </sql>

    <select id="find" resultMap="sysUserTagsPO">
        SELECT * FROM
        (
            SELECT
                <include refid="entityColumnList"/>
            FROM
                `PL_SYS_USER_TAGS`
            WHERE
                `IS_DELETED`=0
                <include refid="whereForFindList" />
        ) AS T

        <if test="request.pageSize !=0">
            LIMIT #{ request.beginItemIndex }, #{ request.pageSize }
        </if>
    </select>

    <select id="findCount"   resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            `PL_SYS_USER_TAGS`
        WHERE
            `IS_DELETED`=0
            <include refid="whereForFindList" />
    </select>

    <select id="search" resultMap="sysUserTagsPO">
        SELECT * FROM
        (
            SELECT
                <include refid="entityColumnList"/>
            FROM
                `PL_SYS_USER_TAGS`
            WHERE
                `IS_DELETED`=0
                <if test="request.keyword !=null">
                      AND <include refid="whereForSearchList" />
                </if>

        ) AS T
        <if test="request.pageSize !=0">
            LIMIT #{ request.beginItemIndex }, #{ request.pageSize }
        </if>
    </select>

    <select id="searchCount"   resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            `PL_SYS_USER_TAGS`
        WHERE
            `IS_DELETED`=0
            AND <include refid="whereForSearchList" />
    </select>

    <select id="existByCode" resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            `PL_SYS_USER_TAGS`
        WHERE
            `IS_DELETED`=0
            AND  `ID` != #{id}
            AND `CODE` = #{code}
    </select>


    <update id="update">
        UPDATE
            `PL_SYS_USER_TAGS`
        SET
        `USER_ID`=#{ request.userId },
        `USER_TAG_ID`=#{ request.userTagId },
        `LAST_UPDATED_BY`=#{ passport.userId }
        ,`LAST_UPDATE_TIME`=SYSDATE()
        ,`ROW_VERSION`=#{ request.rowVersion }+1
        WHERE
            `IS_DELETED`=0
            AND `ID` = #{ request.id }
            AND `ROW_VERSION` = #{ request.rowVersion }
    </update>

    <select id="getAllListByUser" resultMap="sysUserTagsPO">
        SELECT
        <include refid="entityColumnList" />
        FROM
        `PL_SYS_USER_TAGS`
        WHERE
        `IS_DELETED`=0
        <if test="request.userId != null">
            AND USER_ID = #{request.userId}
        </if>
    </select>

</mapper>