<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.showcal.thermalcontrol.dal.SyncSportMapper">

    <sql id="whereForFindList">
        <if test="request.intensity!=null"> AND `INTENSITY` LIKE CONCAT ('%',#{ request.intensity },'%')</if>
        <if test="request.address!=null"> AND `ADDRESS` LIKE CONCAT ('%',#{ request.address },'%')</if>
    </sql>

    <sql id="whereForSearchList">
           (
           `INTENSITY` LIKE CONCAT ('%',#{ request.keyword },'%')  OR  
           `ADDRESS` LIKE CONCAT ('%',#{ request.keyword },'%')  OR  
           )
    </sql>

    <select id="find" resultMap="syncSportPO">
        SELECT * FROM
        (
            SELECT
                <include refid="entityColumnList"/>
            FROM
                `TC_SYNC_SPORT`
            WHERE
                `IS_DELETED`=0
                <include refid="whereForFindList" />
        ) AS T

        <if test="request.pageSize !=0">
            LIMIT #{ request.beginItemIndex }, #{ request.pageSize }
        </if>
    </select>

    <select id="findCount"   resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            `TC_SYNC_SPORT`
        WHERE
            `IS_DELETED`=0
            <include refid="whereForFindList" />
    </select>

    <select id="search" resultMap="syncSportPO">
        SELECT * FROM
        (
            SELECT
                <include refid="entityColumnList"/>
            FROM
                `TC_SYNC_SPORT`
            WHERE
                `IS_DELETED`=0
                <if test="request.keyword !=null">
                      AND <include refid="whereForSearchList" />
                </if>

        ) AS T
        <if test="request.pageSize !=0">
            LIMIT #{ request.beginItemIndex }, #{ request.pageSize }
        </if>
    </select>

    <select id="searchCount"   resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            `TC_SYNC_SPORT`
        WHERE
            `IS_DELETED`=0
            AND <include refid="whereForSearchList" />
    </select>

    <select id="existByCode" resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
            `TC_SYNC_SPORT`
        WHERE
            `IS_DELETED`=0
            AND  `ID` != #{id}
            AND `CODE` = #{code}
    </select>


    <update id="update">
        UPDATE
            `TC_SYNC_SPORT`
        SET
        `SPORT_HEAD_ID`=#{ request.sportHeadId },
        `TOTAL_TIME`=#{ request.totalTime },
        `INTENSITY`=#{ request.intensity },
        `ADDRESS`=#{ request.address },
        `IS_SYNCED`=#{ request.isSynced },
        `LAST_UPDATED_BY`=#{ passport.userId }
        ,`LAST_UPDATE_TIME`=SYSDATE()
        ,`ROW_VERSION`=#{ request.rowVersion }+1
        WHERE
            `IS_DELETED`=0
            AND `ID` = #{ request.id }
            AND `ROW_VERSION` = #{ request.rowVersion }
    </update>


</mapper>